#grid{
	display:grid;
	gap:10px 10px;
	grid-template-columns:repeat(4,242.5px);
	grid-template-rows:repeat(5,124px);
}
div{
	background-color:green;
	color:white;
	font-size:25px;
}
.item1{
	grid-column:span 4;
}
.item2{
	grid-row:span 4;
}
.item4{
	grid-column:span 2;
}
.item5{
	grid-column:span 2;
}
.item10{
	grid-column:span 3;
}